@charset "ISO-8859-1";
@media screen and (max-width:1000px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

 body {
	background-color: #383939;
}

#body {
	margin-top: -2%; 
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#createBtn{
	background-color: #4dd6cb;
	color: #000000;
	border: none;
	padding: 5px 43px;
	font: bold;
	font-family: Arial;
	border-radius: 10px;
    font-weight: bold;
}

