@charset "ISO-8859-1";
@media screen and (max-width:1000px) {
	.column {
		width: 100%;
	}
}

* {
	box-sizing: border-box;
}

 body {
	background-color: #383939;
}

#body {
	margin-top: -2%; 
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;

}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#createBtn{
	background-color: #71F69A;
	color: #171717;
	border: none;
	padding: 5px 43px;
	font: bold;
	font-family: Arial;
	border-radius: 10px;
    font-weight: bold;
    margin-left: 60px;
}

.logInBox{
	padding: 0px 35px 40px 0px;
	float: left;
	align-items: center;
	background-color: #383939;
	border-radius: 20px;
	margin-left: 550px;
	word-wrap: break-word;
	font-family: Arial;
	font-size: 13px;
}	