@charset "ISO-8859-1";

@media screen and (max-width:1000px) {
    .column {
        width: 100%;
    }
}


* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#body {
    margin-top: 2%;
}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#city, #ipNbr {
    font-style: bold;
}

#asideTable {
    float: right;
    margin-top: 100px;
    color: #bcbcc0;
}

#asideTable {
    font-style: bold;
    font-family: Helvetica;
}

.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.child {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Traffic sign = */

.TrafficSignTxt{
    text-align: center;
    margin: 0px auto;
    
    font-family: 'Inter';
    font-style: normal;
    font-size: 36px;
    line-height: 58px;
    color: #F5F5F5;
}
.TrafficSignPng{
    position:absolute;
    top: 20px;
    right: 110px;
   
  }
  
.responsive {
    width: 100%;
    height: auto;
    top: 20px;
    right: 110px;
  }

  .grid {
    margin-top: -2%;
    display: flex;
    margin-right: 175px;
    padding-top: 70px;
    padding-right: 150px;
    padding-left: 70px;
    /*padding: 50px 400px;*/
    display: grid;
    border: 1px solid;
    gap: 2px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  div > div {
    padding: 50px;
    background-color: #ccc;
  }



#createBtnNEXT {
    display: flex;
    background-color: #4dd6cb;
    color: white;
    border-color: aquamarine;
    padding: 10px 50px;
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    font-weight: lighter;

   
}

#createBtnRESET {
    background-color: #9ea3a3;
    color: white;
    border-color: rgb(149, 149, 149);
    padding: 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    margin-top: 0.8%;
     margin-right: 1.1%;
     position:absolute;
     top:0;
     right:0;
  
}

#createBtnSETTINGS {
   background-color: #9ea3a3;
    color: white;
    border-color: rgb(149, 149, 149);
    padding: 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    margin-top: 0.8%;
     margin-left: 1.1%;
     position:absolute;
     top:0;
     left:0;
  
}

#createBtnGUIDLINES{
    background-color: #9ea3a3;
    color: white;
    border-color: rgb(149, 149, 149);
    padding: 10px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px;
    margin-top: 5%;
     margin-left: 1.1%;
     position:absolute;
     top:0;
     left:0;
  
}


/*FRFE */
.frame5-frame5 {
    margin-top: -3%;
    float: left;  
    width: 342px;
    height: 736px;
    display: flex;
    overflow: hidden;
    position: relative;
    max-width: 342px;
    box-sizing: border-box;
    transition: 0.3s;
    align-items: flex-start;
    border-color: transparent;
    background: #7AF2EB;
  }
  .frame5-frame5:focus-visible {
    z-index: 100;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    border-radius: var(--dl-radius-radius-radius4);
  }

  
  .frame5-text {
    top: 8px;
    left: 37%;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-zenseact1 {
    top: 428px;
    left: 11px;
    width: 321px;
    height: 365px;
    position: absolute;
    box-sizing: border-box;
    object-fit: cover;
    border-color: transparent;
  }
  .frame5-text01 {
    top: 64px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text02 {
    top: 251px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    width: 93px;
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text03 {
    top: 314px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text04 {
    top: 358px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text05 {
    top: 387px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text06 {
    top: 285px;
    left: 43px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text07 {
    top: 94px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text08 {
    top: 123px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text09 {
    top: 155px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text10 {
    top: 187px;
    left: 44px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text11 {
    top: 217px;
    left: 45px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text12 {
    top: 64px;
    left: 143px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text13 {
    top: 96px;
    left: 143px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text14 {
    top: 123px;
    left: 143px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text15 {
    top: 155px;
    left: 143px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text16 {
    top: 180px;
    left: 144px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text17 {
    top: 214px;
    left: 143px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text18 {
    top: 250px;
    left: 143px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text19 {
    top: 281px;
    left: 144px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text20 {
    top: 314px;
    left: 144px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text21 {
    top: 358px;
    left: 143px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .frame5-text22 {
    top: 389px;
    left: 144px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family: Inter;
    font-weight: 700px;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  
  @media(max-width: 479px) {
    .frame5-frame5 {
      height:0;
      overflow:hidden;
      z-index: 100;
      box-shadow: 5px 5px 10px 0px #D4D4D4;
      border-color: var(--dl-color-gray-black);
      border-width: 1px;
      border-radius: var(--dl-radius-radius-radius4);
      display: none;
		
    }
    .frame5-zenseact1 {
      left: 27px;
      width: 275px;
      bottom: 29px;
      height: 286px;
    }
    .frame5-text05 {
      top: 395px;
      left: 56px;
    }


  }

  .teleport-show {
    top: 395px;
    left: 56px;
  }
  